{% extends 'base.html' %}

{% block title %}
 Register
{% endblock %}

{% block content %}

<link rel="stylesheet" href="../static/styles/register.css">
<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> -->
<body class="text-center">
    <div class="container">
        <form id="registerForm" method="POST" style="color: white;" >


            <div class="form-inputs">
                <p>{{ form.photo.label() }}</p>
                {{ form.photo(class="from-content", type="file", id="photo-input", accept="image/*", onchange="displayPhoto(event)") }}
                <img id="photo-preview" src="" alt="Avatar Preview" style="display: none;">
            </div>

            <div class="form-inputs">
                <p>{{ form.email.label() }}</p>
                {{ form.email(class="from-content", placeholder="email ' required ' ")  }}
                </div>
            <div class="form-inputs">
                <p>{{ form.password.label() }}</p>
                {{ form.password(class="from-content", placeholder="Password ' required ' ")  }}
                </div>
            <div class="form-inputs">
                <p>{{ form.conf_PWD.label() }}</p>
                {{ form.conf_PWD(class="from-content", placeholder="confirm Password ' required ' ")  }}
                </div>
            <div class="form-inputs">
                    <p>{{ form.first_name.label()  }}</p>
                    {{ form.first_name(class="from-content", placeholder="First Name") }}
            </div>
            <div class="form-inputs">
                <p>{{ form.last_name.label() }}</p>
                {{ form.last_name(class="from-content", placeholder="Last Name")  }}
            </div>
            <div class="form-inputs">
                <p>{{ form.nickname.label() }}</p>
                {{ form.nickname(class="from-content", placeholder="nickame")  }}

            </div>
            <br>
            <div class="sub-btn">
            <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</body>




<script src="../static/scripts/register.js"></script>
{% endblock %}
